body {
    background-color: #49495c;
    font-size: 30px;
    color: bisque;
}

h1 {color: orange;}


.home-button {
    border: groove blue 5px;
    text-align: center;
    margin-left: 200px;
    width: 120px;
    font-size: 20px;
    background-color: bisque;
}

.ingredients {
    padding-left: 40px;
    margin-bottom: 30px;
    border: groove 7px;
    border-color: green;
    background-color: beige;
    color: brown;
}


.instructions {
    padding-left: 40px;
    border: groove 7px;
    border-color: green;
    background-color: beige;
    color: brown;
}