body {
    background-color: #90d8a0;
    font-size: 30px;
    color: brown;
    text-align: center;
}

h1 {
    padding: 10px;
    background-color: brown;
    color: white;
    margin: 0;
}

.home-button {
    border: outset blue 5px;
    padding: 3px;
    text-align: center;
    display: block;
    margin: 25px auto;
    width: 120px;
    font-size: 20px;
    background-color: bisque;
}

.recipe {
    background-image: url(../img/garlic-onion.jpg);
    background-attachment: fixed;
}

.instructions {
    text-align: left;
    padding: 10px 40px;
    margin: 30px 100px;
    border: solid 3px orange;
    background-color: beige;
}

.img-center {
    display: block;
    margin: 40px auto;
}