body {
    background-color: #49495c;
    font-size: 30px;
    color: bisque;
}

h1 {
    color: orange;
    text-align: center;
}


.home-button {
    border: groove blue 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 120px;
    font-size: 20px;
    background-color: bisque;
}

.ingredients {
    padding-left: 40px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    border: groove 7px;
    border-color: orange;
    background-color: beige;
    color: brown;
}


.instructions {
    padding-left: 40px;
    margin-left: 150px;
    margin-right: 150px;
    border: groove 7px;
    border-color: orange;
    background-color: beige;
    color: brown;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}